body {
    margin: 0;
    padding: 0;
    background-color: #FFE6A7;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #432818;
}

.logo {
    color: #FFE6A7;
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: #FFE6A7;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: white;
}