body {
    margin: 0;
    padding: 0;
    background-color: #FFE6A7;
    color: #432818;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #432818;
}

.logo {
    color: #FFE6A7;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: #FFE6A7;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: white;
}

main {
    padding: 40px;
    text-align: center;
}

h1 {
    color: #432818;
    font-size: 40px;
    margin-bottom: 35px;
}

.card-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
}

.card {
    width: 280px;
    padding: 20px;
    background-color: white;
    border: 3px solid #432818;
    border-radius: 10px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
}

.card h2 {
    color: #432818;
    font-size: 25px;
}

.card p {
    color: #432818;
    line-height: 1.5;
    min-height: 70px;
}

.card button {
    padding: 10px 20px;
    background-color: #432818;
    color: #FFE6A7;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 5px 15px #432818;
}

.card button:hover {
    background-color: #FFE6A7;
    color: #432818;
}